<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="songming.straing">

    <uses-permission android:name="android.permission.CAMERA"/>
    <!--允许应用程序改变网络状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!--允许应用程序改变WIFI连接状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--允许应用程序访问有关的网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--允许应用程序访问WIFI网卡的网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--允许应用程序完全使用网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMSS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".app.STraingApp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.AppStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--服务-->
        <service android:name=".app.socket.SocketService"/>
        <!--注册页-->
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--登录页-->
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--主页-->
        <activity
            android:name=".ui.activity.index.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--个人资料-->
        <activity
            android:name=".ui.activity.person.PersonSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--头像设置-->
        <activity
            android:name=".ui.activity.person.AvatarSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!--昵称设置-->
        <activity
            android:name=".ui.activity.person.NickAndSignatureSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--个人主页-->
        <activity
            android:name=".ui.activity.person.PersonIndexActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--裁剪图片-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!--任务详情-->
        <activity
            android:name=".ui.activity.mission.MissionDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--创建文章-->
        <activity
            android:name=".ui.activity.article.ArticleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--文章列表-->
        <activity
            android:name=".ui.activity.article.ArticleListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--文章详情-->
        <activity
            android:name=".ui.activity.article.ArticleDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--排行榜-->
        <activity
            android:name=".ui.activity.rank.RankActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--群组列表-->
        <activity
            android:name=".ui.activity.friend.GroupListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--个人聊天-->
        <activity
            android:name=".ui.activity.chat.FriendsChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!--添加好友-->
        <activity
            android:name=".ui.activity.friend.FriendAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!--圈-->
        <activity
            android:name=".ui.activity.circle.CircleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>

</manifest>